[submodule "vim/pack/packages/start/firvish.nvim"]
	path = vim/pack/packages/start/firvish.nvim
	url = https://github.com/Furkanzmc/firvish.nvim.git
[submodule "vim/pack/packages/start/lsp_signature.nvim"]
	path = vim/pack/packages/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim.git
[submodule "vim/pack/packages/start/nvim-lspconfig"]
	path = vim/pack/packages/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/packages/start/options.nvim"]
	path = vim/pack/packages/start/options.nvim
	url = https://github.com/Furkanzmc/options.nvim.git
[submodule "vim/pack/packages/start/vim-dirvish"]
	path = vim/pack/packages/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "vim/pack/packages/start/vim-fugitive"]
	path = vim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/packages/start/vim-sandwich"]
	path = vim/pack/packages/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "vim/pack/packages/start/vim-smartpairs"]
	path = vim/pack/packages/start/vim-smartpairs
	url = https://github.com/gosukiwi/vim-smartpairs.git
[submodule "vim/pack/packages/start/plenary.nvim"]
	path = vim/pack/packages/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vim/pack/packages/start/sekme.nvim"]
	path = vim/pack/packages/start/sekme.nvim
	url = https://github.com/Furkanzmc/sekme.nvim
[submodule "vim/pack/packages/start/Comment.nvim"]
	path = vim/pack/packages/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git

[submodule "vim/pack/packages/opt/nvim-dap"]
	path = vim/pack/packages/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "vim/pack/packages/opt/nvim-dap-ui"]
	path = vim/pack/packages/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "vim/pack/packages/opt/nvim-qt"]
	path = vim/pack/packages/opt/nvim-qt
	url = https://github.com/Furkanzmc/nvim-qt.git
[submodule "vim/pack/packages/opt/nvim-treesitter"]
	path = vim/pack/packages/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/packages/opt/rest.nvim"]
	path = vim/pack/packages/opt/rest.nvim
	url = https://github.com/NTBBloodbath/rest.nvim.git
[submodule "vim/pack/packages/opt/rust.vim"]
	path = vim/pack/packages/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/pack/packages/opt/SyntaxRange"]
	path = vim/pack/packages/opt/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "vim/pack/packages/opt/tagbar"]
	path = vim/pack/packages/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/packages/opt/vim-colortemplate"]
	path = vim/pack/packages/opt/vim-colortemplate
	url = https://github.com/lifepillar/vim-colortemplate.git
[submodule "vim/pack/packages/opt/cmp-path"]
	path = vim/pack/packages/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "vim/pack/packages/opt/svg.vim"]
	path = vim/pack/packages/start/svg.vim
	url = https://github.com/vim-scripts/svg.vim.git
[submodule "vim/pack/packages/opt/vim-qml"]
	path = vim/pack/packages/start/vim-qml
	url = https://github.com/Furkanzmc/vim-qml.git
[submodule "vim/pack/packages/opt/vim-autohotkey"]
	path = vim/pack/packages/start/vim-autohotkey
	url = https://github.com/hnamikaw/vim-autohotkey.git
[submodule "vim/pack/packages/start/vim-log-highlighting"]
	path = vim/pack/packages/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
[submodule "vim/pack/packages/start/zettelkasten.nvim"]
	path = vim/pack/packages/start/zettelkasten.nvim
	url = https://github.com/Furkanzmc/zettelkasten.nvim.git
[submodule "vim/pack/packages/opt/zig.vim"]
	path = vim/pack/packages/opt/zig.vim
	url = https://github.com/ziglang/zig.vim.git
[submodule "vim/pack/packages/start/vim-matchup"]
	path = vim/pack/packages/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "vim/pack/packages/opt/nvim-highlight-colors"]
	path = vim/pack/packages/opt/nvim-highlight-colors
	url = https://github.com/brenoprata10/nvim-highlight-colors.git
[submodule "vim/pack/packages/opt/copilot.vim"]
	path = vim/pack/packages/opt/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "vim/pack/packages/start/none-ls.nvim"]
	path = vim/pack/packages/start/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim.git
[submodule "vim/pack/packages/start/catppuccin"]
	path = vim/pack/packages/start/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "vim/pack/packages/opt/nvim-nio"]
	path = vim/pack/packages/opt/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "vim/pack/packages/start/nvim-lsp-endhints"]
	path = vim/pack/packages/start/nvim-lsp-endhints
	url = https://github.com/chrisgrieser/nvim-lsp-endhints.git
[submodule "vim/pack/packages/opt/nvim-gdb"]
	path = vim/pack/packages/opt/nvim-gdb
	url = https://github.com/sakhnik/nvim-gdb.git
[submodule "vim/pack/packages/start/dropbar.nvim"]
	path = vim/pack/packages/start/dropbar.nvim
	url = https://github.com/Bekaboo/dropbar.nvim.git
