/* Code adapted from https://github.com/marmmaz/FirefoxCSS */

:root {
    --uc-autohide-toolbox-delay: 300ms; /* Wait 0.1s before hiding toolbars */
    --uc-toolbox-rotation: 60deg; /* This may need to be lower on mac - like 75 or so */
}

#navigator-toolbox {
    width: calc(100vw - var(--uc-navigationbar-width, 0px));
    position: fixed !important;
    display: block;
    transition: transform 82ms linear, opacity 82ms linear !important;
    transition-delay: var(--uc-autohide-toolbox-delay) !important;
    transform-origin: top;
    transform: rotateX(var(--uc-toolbox-rotation));
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
    transition-delay: 30ms !important;
    transform: rotateX(0);
    opacity: 1;
}

#navigator-toolbox > * {
    pointer-events: auto;
}

#TabsToolbar {
    width: calc(100vw - var(--uc-navigationbar-width, 0px));
}

/* Don't apply transform before window has been fully created */
:root:not([sessionrestored]) #navigator-toolbox {
    transform: none !important;
}
