theme = dark:catppuccin-frappe,light:catppuccin-latte
font-family = "JetBrainsMonoNL Nerd Font Mono"
font-size = 14
cursor-click-to-move = false
mouse-hide-while-typing = true
window-theme = "system"
macos-titlebar-style = hidden
window-save-state = "always"
quick-terminal-screen = "mouse"
macos-non-native-fullscreen = "true"
macos-titlebar-style = "tabs"

keybind = global:cmd+alt+\=toggle_quick_terminal
