theme = dark:catppuccin-frappe,light:catppuccin-latte
font-family = "JetBrainsMonoNL Nerd Font Mono"
font-size = 13
cursor-click-to-move = false
mouse-hide-while-typing = true
window-theme = "system"
macos-titlebar-style = hidden
window-save-state = "always"
quick-terminal-screen = "mouse"
macos-non-native-fullscreen = "true"
macos-titlebar-style = "tabs"
window-new-tab-position = "end"
font-thicken = true
font-thicken-strength = 255

keybind = global:cmd+alt+\=toggle_quick_terminal
